.verify_page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    flex-direction: column;
    gap: 30px;

    &__resend_button {
        padding: 10px 15px;
        border-radius: 10px;
        background: $logo-blue;
        color: white;
        cursor: pointer;
    }
}