.footer {
  color: #ffff;
  padding: 3rem 4rem 3rem 4rem;
  background-color: $black;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__privacy {
    ul {
        list-style: square;
    }
  }

  &__terms {
    align-self: flex-end;
    cursor: pointer;
  }

  h3 {
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 15px;

    svg {
      font-size: 2rem;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      font-size: 1.8rem;
    }
  }
}
