.login_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 0;
  gap: 2px;

  label {
    font-weight: 500;
  }

  input {
    height: 30px;
    outline: none;
    border: 1px solid #333;
    line-height: 1;
    font-weight: 400;
    color: #333;
    padding: 1rem;
    border-radius: 5px;

    &::placeholder {
        color: #aaa;
    }
  }
}

.error__popup {
    color: $error-red; 
}
