.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 55px;
  background: $black-opaque;
  position: fixed;
  width: 100%;
  z-index: 100;

  &__logo {
    width: 110px;
  }

  &__list {
    display: flex;
    gap: 1.5rem;

    li {
      color: #fff;
    }
  }

  svg {
    display: none;
  }
}

@media (max-width: 900px) {
  .nav {
    &__list {
      display: none;
    }

    svg {
      grid-area: icon;
      display: block;
      fill: #fff;
      stroke: #fff;
      font-size: 45px;
    }
  }
  .nav__menu {
    display: grid;
    grid-template-areas:
      'logo . icon'
      'menu menu menu';
    height: 500px;

    &__logo {
      grid-area: logo;
    }

    .nav__list {
      display: flex;
      grid-area: menu;
      flex-direction: column;
      align-items: center;
    }
  }
}
