.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 35px 55px;
  height: 120px;
  background: $black;

  &__logo {
    width: 110px;
  }

  &__list {
    display: flex;
    gap: 1.5rem;

    li {
      color: #fff;
    }
  }
}
